* {
    margin: 0;
    padding: 0;
}

a {
    color: #000 !important;
    text-decoration: none
}

body {
    overflow-x: hidden;
}

@font-face {
    font-family: 'FavoritPro';
    src: url('../fonts/FavoritPro-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FavoritProRegular';
    src: url('../fonts/FavoritPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #F2D0D0;
}

.menu-block {
    display: grid;
    grid-template-columns: 899px 1fr 0.5fr;

}

.projects,
.services,
.cooperation,
.about-us-place,
.info {
    padding-top: 22px;
    padding-left: 28px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    transition: all 0.3s ease;

}

.projects:hover,
.services:hover,
.cooperation:hover {
    /* box-sizing: border-box;
    border: 5px solid rgb(0, 60, 255); */
    box-shadow: inset 0 0 0 2px #000000;
    background: #c7acac;

}

.projects .text-h2 {
    padding-top: 90px;
}

.services .text-h2 {
    padding-top: 58px;
}

.cooperation .text-h2 {
    padding-top: 134px;
}

.text-h1 {
    font-family: 'FavoritPro', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}

.text-logo-1 {
    font-family: 'FavoritProRegular', sans-serif;
    font-weight: 400;
    font-size: 75px;
    text-transform: uppercase;
    line-height: 95%;
    margin-top: 36px;
}

.text-logo-2 {
    font-family: 'FavoritPro', sans-serif;
    font-weight: 400;
    font-size: 75px;
    text-transform: uppercase;
    line-height: 95%;
}

.menu-block a {
    display: block;
    height: 257px;
    text-decoration: none;

}

.text-h2 {
    font-family: 'FavoritProRegular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

.under-menu-block {
    display: grid;
    grid-template-columns: 899px 1fr;
}

.img-container {
    background-image: url(../img/forest.jpg);
    background-position: center;
    background-size: cover;
}

.about-us-place {
    height: 823px;
}

/* HIDDEN BUTTON */
.hidden-contact-button {
    display: grid;
    grid-template-columns: 0fr 1fr 0fr;
    position: absolute;
    margin-left: 634px;
    margin-top: -163px;
    color: #F2D0D0;
    width: 100vw;
}

.button-contact-button .text-h1 {
    color: #F2D0D0;
}

.button-for-contact:hover {
    /* box-sizing: border-box;
    border: 5px solid rgb(0, 60, 255); */
    background: #585840;
}

.button-for-contact {
    padding-top: 14px;
    padding-left: 27px;
    background-color: #7F7E5C;
    box-sizing: border-box;
    height: 163px;
    width: 543px;
    transition: all 0.3s ease;
}

.contacts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.contacts .text-h1 {
    padding-top: 21px;
    padding-bottom: 75px;
}

.text-h3 {
    font-family: 'FavoritProRegular', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
}

.info {
    display: grid;
    padding-bottom: 80px;
    align-items: center;
}

.footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.credits {
    padding-left: 29px;
    padding-bottom: 40px;
    padding-top: 55px;
}

.img-footer {
    display: grid;
    justify-items: end;

}

.logo-img {
    height: 80px;
    padding-right: 35px;
    margin-top: 45px;
}

/* Projects */
.text-project {
    display: grid;
    font-family: 'FavoritProRegular', sans-serif;
    font-weight: 400;
    font-size: 70px;
    text-transform: uppercase;
    margin-top: 31px;
    margin-left: 39px;
}

.text-project-footer {
    display: grid;
    font-family: 'FavoritProRegular', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    margin-left: 30px;
}

.container_portfolio {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    height: 100%;
    background-color: #F2D0D0;
}

.section2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 152px 1060px 742px 100px; */
    grid-template-rows: 152px 1fr 0.7fr 100px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header"
        "big-pic big-pic big-pic"
        "small-pic small-pic small-pic"
        "footer_2 footer_2 footer_2";
}

.header2 {
    display: grid;
    margin: 0;
    padding: 0;
    justify-items: start;
    grid-area: header;
    background-color: #F2D0D0;
}

.big-pic {
    grid-area: big-pic;
    background-image: url(../img/Naturale.jpg);
    background-position: center;
    background-size: cover;
}

.small-pic {
    display: grid;
    grid-template-columns: 2fr 1fr 1.5fr;
    grid-template-rows: 740px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "pic1 pic2 pic3";
    grid-area: small-pic;

}

.pic1 {
    grid-area: pic1;
    background-image: url(../img/bath.jpg);
    background-position: center;
    background-size: cover;

}

.pic2 {
    grid-area: pic2;
    background-image: url(../img/bag.jpg);
    background-position: center;
    background-size: cover;
}

.pic3 {
    grid-area: pic3;
    background-image: url(../img/girl.jpg);
    background-position: center;
    background-size: cover;
}

.footer_2 {
    display: grid;
    grid-area: footer_2;
    background-color: #F2D0D0;
    align-items: center;
    justify-items: start;
}


/* FORM */
.container3 {
    width: 100%;
    height: 100vh;
    display: grid;
    background-image: url(../img/ask_bg.jpg);
    background-position: center;
    background-size: cover;

}

.ask_section {
    width: 1592px;
    height: 896px;
    margin: 25px auto;
    padding-top: 50px;
    border: 3px solid #F2D0D0;
    display: grid;
    justify-items: center;
    grid-template-rows: 160px 40px 100px 40px 100px 40px 140px 70px 140px;
    gap: 0px;
}

.text-h1-f {
    font-family: 'FavoritProRegular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

.write,
.send-btn {
    width: 1468px;
    background: #000000;
    color: #F2D0D0;
    font-family: 'FavoritPro', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}

.write {
    padding-top: 20px;
    padding-left: 50px;
}

.your-name {
    min-width: 1468px;
    /* margin-bottom: -1px; */
    background: #F2D0D0;
}

.e-mail {
    min-width: 1468px;
    background: #F2D0D0;
}

.describe {
    min-width: 1468px;
    background: #F2D0D0;
}

.send-btn {
    display: block;
    max-width: 1468px;
    background: #7F7E5C;
    height: 140px;
    padding-top: 20px;
    padding-left: 50px;
}

.text-h1-f {
    padding-top: 20px;
    padding-left: 50px;
}

input[type=text] {
    width: 1468px;
    background-color: #F2D0D0;
    border: none;
    outline: none;
    padding-left: 50px;
    font-size: 25px;
    font-family: 'FavoritPro', sans-serif;

}

/* Медиа запросы */
@media screen and (max-width: 1700px) {
    body {
        background-color: black;

    }

    .container3 {
        width: 100%;
        height: 100%;
        display: grid;
        background-image: url(../img/.jpg);
        background-color: black;
        background-size: cover;

    }

    .ask_section {
        width: 1455px;
        height: 896px;
        margin: 0px 0px;
        padding-top: 0px;
        border: 0px solid #F2D0D0;
        display: grid;
        justify-items: center;
        grid-template-rows: 160px 40px 100px 40px 100px 40px 140px 70px 140px;
        gap: 0px;
    }

    .text-h1-f {
        font-family: 'FavoritProRegular', sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
    }

    .write,
    .send-btn {
        width: 1468px;
        background: #000000;
        color: #F2D0D0;
        font-family: 'FavoritPro', sans-serif;
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
    }

    .write {
        padding-top: 20px;
        padding-left: 50px;
    }

    .your-name {
        min-width: 1468px;
        /* margin-bottom: -1px; */
        background: #F2D0D0;
    }

    .e-mail {
        min-width: 1468px;
        background: #F2D0D0;
    }

    .describe {
        min-width: 1468px;
        background: #F2D0D0;
    }

    .send-btn {
        display: block;
        max-width: 1468px;
        background: #7F7E5C;
        height: 140px;
        padding-top: 20px;
        padding-left: 50px;
    }

    .text-h1-f {
        padding-top: 20px;
        padding-left: 50px;
    }

    input[type=text] {
        width: 1468px;
        background-color: #F2D0D0;
        border: none;
        outline: none;
        padding-left: 50px;
        font-size: 25px;
        font-family: 'FavoritPro', sans-serif;
    }
}

@media screen and (max-width: 1455px) {
    .services {
        padding-right: 15px;
    }
}

@media screen and (max-width: 1375px) {
    .text-h1 {
        font-family: 'FavoritPro', sans-serif;
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
    }

    .menu-block {
        display: grid;
        grid-template-columns: 800px 1fr 0.5fr;

    }

    .under-menu-block {
        display: grid;
        grid-template-columns: 800px 1fr;
    }

    .services {
        padding-right: 5px;
    }

    .cooperation {
        padding-right: 15px;
    }

    .about-us-2 {
        padding-right: 15px;
    }
}

@media screen and (max-width: 1366px) {
    .section2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* grid-template-rows: 152px 1060px 742px 100px; */
        grid-template-rows: 152px 1.5fr 0.5fr 100px;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "header header header"
            "big-pic big-pic big-pic"
            "small-pic small-pic small-pic"
            "footer_2 footer_2 footer_2";
    }

    .big-pic {
        grid-area: big-pic;
        background-image: url(../img/Naturale.jpg);
        background-size: cover;
    }

    .small-pic {
        display: grid;
        grid-template-columns: 2fr 1fr 1.5fr;
        grid-template-rows: 500px;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "pic1 pic2 pic3";
        grid-area: small-pic;
    }
}

@media screen and (max-width: 1280px) {
    .hidden-contact-button {
        margin-left: 0px;
        width: 100%;
        position: absolute;
        color: #F2D0D0;
    }
    .info h2 {
        font-size: 15px;
    }
    .credits {
        padding-right: 29px;
    }
    .text-logo-1 {
        font-family: 'FavoritProRegular', sans-serif;
        font-weight: 400;
        font-size: 60px;
        text-transform: uppercase;
        line-height: 95%;
        margin-top: 36px;
    }
    .text-logo-2 {
        font-family: 'FavoritPro', sans-serif;
        font-weight: 400;
        font-size: 50px;
        text-transform: uppercase;
        line-height: 95%;
    }
    .button-for-contact {
        padding-top: 14px;
        padding-left: 27px;
        background-color: #7F7E5C;
        box-sizing: border-box;
        height: 163px;
        width: 100%;
        transition: all 0.3s ease;
    }
    .menu-block {
        display: grid;
        grid-template-columns: 1fr;
    }

    .under-menu-block {
        display: grid;
        grid-template-columns: 1fr;
        background-image: url(../img/forest.jpg);
        max-width: 100%;
        background-position: center;
        background-size: cover;
    }

    .about-us-place {
        background-color: rgba(250, 235, 215, 0.6);
        width: 100%;

    }

    .contacts {
        display: grid;
        grid-template-columns: 2fr;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr;
    }

    .img-footer {
        display: grid;
        justify-items: center;
    }
    /* CСтраница обратной связи */
    .container3 {
        width: 100%;
        height: 100%;
        display: grid;
        background-image: url(../img/.jpg);
        background-color: black;
        background-size: cover;

    }

    .ask_section {
        width: 1455px;
        height: 896px;
        margin: 0px 0px;
        padding-top: 0px;
        border: 0px solid #F2D0D0;
        display: grid;
        justify-items: center;
        grid-template-rows: 160px 40px 100px 40px 100px 40px 140px 70px 140px;
        gap: 0px;
    }

    .text-h1-f {
        font-family: 'FavoritProRegular', sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
    }

    .write,
    .send-btn {
        width: 1468px;
        background: #000000;
        color: #F2D0D0;
        font-family: 'FavoritPro', sans-serif;
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
    }

    .write {
        padding-top: 20px;
        padding-left: 50px;
    }

    .your-name {
        min-width: 1468px;
        /* margin-bottom: -1px; */
        background: #F2D0D0;
    }

    .e-mail {
        min-width: 1468px;
        background: #F2D0D0;
    }

    .describe {
        min-width: 1468px;
        background: #F2D0D0;
    }

    .send-btn {
        display: block;
        max-width: 1468px;
        background: #7F7E5C;
        height: 140px;
        padding-top: 20px;
        padding-left: 50px;
    }

    .text-h1-f {
        padding-top: 20px;
        padding-left: 50px;
    }

    input[type=text] {
        width: 1468px;
        background-color: #F2D0D0;
        border: none;
        outline: none;
        padding-left: 50px;
        font-size: 25px;
        font-family: 'FavoritPro', sans-serif;
    }
}